.logoutBtn {
  display: flex;
  justify-content: end;
  margin-right: 2em;
}

#note {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.btnContainer {
  color: grey;
}

.userList {
  padding: 0 1em 0 1em;
}

.cardHeader {
  margin: 0.5em 1em 0 1em;
}

ion-card-content {
  margin: 1em;
  padding: 0;
}

.button {
  display: flex;
  justify-content: end;
  margin: 0 0.5em 0.6em 0;
}
