<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>{{t('Home')}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="booking">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>{{t('Booking')}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>{{t('Calendar')}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="product">
      <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
      <ion-label>{{t('Product')}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon
        aria-hidden="true"
        name="ellipsis-horizontal-outline"
      ></ion-icon>
      <ion-label>{{t('More')}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
