.registerBtn {
  display: flex;
  margin: 1em;
  justify-content: center;
}
.hadAcText {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.restrictions {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.7rem;
}
