#welcomeText {
  font-size: 1.7rem;
  font-weight: 700;
  color: slategrey;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#companyText {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(96, 119, 142);
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: aliceblue;
  }
}

.btnContainer {
  color: grey;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
