<ion-content>
  <div style="height: 100px"></div>
  <div class="generalImg">
    <img src="/assets/company_logo.png" alt="Company Logo" />
  </div>

  <div id="welcomeText">Welcome to....</div>
  <div id="companyText">Chu Man Kee Limited</div>
  <div>
    <ion-buttons class="btnContainer">
      <ion-button fill="outline" routerLink="/guest/welcome"
        >Learn More</ion-button
      >
    </ion-buttons>
  </div>
  <div style="margin-top: 2rem">
    <div class="text">
      <span style="color: #184371">Company Name: </span>
      Chu Man Kee Limited
    </div>

    <div class="text">
      <span style="color: #184371">Website: </span>
      https://chumankee.xyz
    </div>
    <div class="text">
      <span style="color: #184371">Email: </span>
      chumankeeltd@gmail.com
    </div>
    <div class="text">
      <span style="color: #184371">Contact Number: </span>
      852-96957888
    </div>
    <div class="text">
      <span style="color: #184371">Address: </span>
      G/F, SIN HUA MANSION, NO.103-105 MA TAU WAI ROAD, HUNG HOM, KL
    </div>
  </div>
</ion-content>
