<ion-content>
  <div style="height: 100px"></div>
  <div class="generalImg">
    <img src="/assets/company_logo.png" alt="Company Logo" />
  </div>

  <div class="btnContainer">
    <ion-buttons class="btn">
      <ion-button fill="outline" routerLink="/guest/login">Login</ion-button>
    </ion-buttons>
    <div class="ion-text-center">OR</div>
    <ion-buttons class="btn">
      <ion-button fill="outline" routerLink="/guest/register"
        >Register</ion-button
      >
    </ion-buttons>
    <div class="ion-text-center">OR</div>
    <ion-buttons class="btn">
      <ion-button fill="outline" routerLink="/guest/product"
        >View as Visitor</ion-button
      >
    </ion-buttons>
  </div>
</ion-content>
